/* CSS declarations go here */
body {font-family: helvetica,sans-serif;}
#declaration { font-size: 10px}

td { border-top: 1px #ddd solid; border-spacing: 0; padding:8px;}
td.stopp { padding-right :10px;}
td.har-passert { text-align: center;}
td.har-passert.ja { background : #dff0d8;}
td.har-passert.train { background: url('tog.png') no-repeat;background-size: contain;width: 30px;}
td.har-passert.green { background: #e8edff;}
td.har-passert.yellow { background : #F2B50F;}
td.har-passert.red { background: #B33A3A;}

@media screen and (max-width:500px) {
	table{width:100%;}
}